header {
    text-align: center;
    background: url("images/background.jpg");
	background-size: cover;
    padding: 20px 0px 0px 0px;
    color: white;
}
body {
    background: rgb(197, 149, 224);
    font-family: 'Indie Flower', cursive;
    color: rgb(42, 49, 119);
    text-align:  center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
li {
    display: inline;

}
.headerli {
    color: white;
    padding: 10px;
    font-size: 20px;
}
.headerul {
    background: rgba(40, 48, 199, 0.40);
}
#title {
    background-color: rgba(42, 49, 119, 0.6);
    font-family: 'Great Vibes', cursive;
    font-size: 63px;
}
#header-pic, .frame {
    border: #8e4ef4 ridge 10px;
}
.paragraph {
    max-width: 550px;
    margin: 0 auto;
}
.paragraphed {
    max-width: 950px;
    margin: 0 auto;
}
h3 {
    font-size: 24px;
}
h4, p {
    font-size: 20px;
}